
{% extends 'StaticPage/base.html' %}
{% block content %}



  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Terms of Service</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'home'%}">Home</a>
      </li>
      <li class="breadcrumb-item active">Terms of Service</li>
    </ol>

<p><strong>Introduction</strong></p>
<p>Following are the Terms of Service for Tracer services (“Service,” “Tracer,” “we,” or “us”). These terms and conditions govern your use of this website (“website”); by using this website, you accept these terms and conditions in full. If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website.</p>
<p>This website uses cookies. By using this website and agreeing to these terms and conditions, you consent to our Tracer use of cookies in accordance with the terms of Tracer<a href="https://keyhole.co/privacy-policy"><strong>privacy policy</strong></a>.</p>
<p><strong>License to use website</strong></p>
<p>Unless otherwise stated, Tracer and/or its licensors own the intellectual property rights in the website and material on the website. Subject to the license below, all these intellectual property rights are reserved.</p>
<p>Tracer hereby grants you a non-exclusive, non-transferable subscription to use the Service during the Term, solely for your internal use in accordance with the use parameters described in the order form utilized to order such subscription and subject to these Terms of Service.</p>
<p>By using Tracer to collect data from and optimize your social media channels, you’re also agreeing to be bound by their Terms of Service.</p>
<p><strong>Setting up Your Account</strong></p>
<ul><li>You must provide accurate and complete information, including your legal full name, a working email address, and any other information requested during the account signup process to obtain an account and use the Service, and update this information if it changes.</li><li>You must be a human being to set up an account and use the Service. Accounts may not be created by “bots” or other automated methods.</li><li>You are responsible for keeping your account and password secure, and are also responsible for all activities using your account or password. Tracer is not liable for any loss or damage that results from your failure to comply with this obligation or unauthorized use of your account.</li><li>You may never use another’s account without permission.</li><li>You must notify Tracer immediately of any breach of security or unauthorized use of your account.</li><li></li></ul>
<p><strong>Fees and Payment</strong></p>
<p>Payment and pricing terms for the Service are as specified in the order form utilized to order such subscription.</p>
<p>By selecting a premium service, you agree to pay Tracer the monthly or annual subscription fees indicated for that service. Payments will be charged on the day you sign up for a premium service and will cover the use of that service for a monthly or annual period as indicated. Premium service fees are not refundable.</p>
<p>Tracer offers monthly and annual subscriptions that renew until they are cancelled by the user. Your subscription will automatically renew for another period unless notice of non-renewal is provided. Your notice of non-renewal must be received before the renewal period begins.</p>
<p>You will be billed for the Service until you properly cancel your account or Tracer terminates your account. Your cancellation may not take effect until completion of the current billing cycle.</p>
<p>Prices for the Service are subject to change upon 30 days’ notice from Tracer. This notice may be posted on the Tracer website or may appear with the Service itself. If you do not agree to the price change(s), you may cancel your account during this 30-day period. By continuing to use the Service after the effective date of a pricing change, you thereby agree to such pricing change.</p>
<p>Tracer shall not be liable to you or to any third party for any modifications to the Service or prices.</p>
<p><strong>Cancellation and Termination</strong></p>
<p>You are solely responsible for properly closing your account.</p>
<p>You can close your account at any time by contacting us at Tracer.</p>
<p>Payments are made for the upcoming billing cycle. Tracer does not provide pro-rated refunds for accounts that are cancelled during their subscription term.</p>
<p><strong>Acceptable use</strong></p>
<p>You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p>
<p>You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.</p>
<p>You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this website without Tracer express written consent.</p>
<p>You must not use this website to transmit or send unsolicited commercial communications.</p>
<p><strong>Restricted access</strong></p>
<p>Access to certain areas of this website is restricted. Tracer reserves the right to restrict access to areas of this website, or indeed this entire website, at Tracer discretion.</p>
<p>If Tracer provides you with a user ID and password to enable you to access restricted areas of this website or other content or services, you must ensure that the user ID and password are kept confidential.</p>
<p>Tracer may disable your user ID and password in Tracer’s sole discretion without notice or explanation.</p>
<p><strong>Limitations of liability</strong></p>
<p>Tracer will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:</p>
<ul><li>for any direct loss;</li><li>for any indirect, special or consequential loss; or</li><li>for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</li></ul>
<p>These limitations of liability apply even if Tracer has been expressly advised of the potential loss.</p>
<p><strong>Exceptions</strong></p>
<p>Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit Tracer liability in respect of any:</p>
<ul><li>death or personal injury caused by Tracer negligence;</li><li>fraud or fraudulent misrepresentation on the part of Tracer; or</li><li>matter which it would be illegal or unlawful for Tracer to exclude or limit, or to attempt or purport to exclude or limit, its liability.</li></ul>
<p><strong>Reasonableness</strong></p>
<p>By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.</p>
<p>If you do not think they are reasonable, you must not use this website.</p>
<p><strong>Other parties</strong></p>
<p>You accept that, as a limited liability entity, Tracer has an interest in limiting the personal liability of its officers and employees. You agree that you will not bring any claim personally against Tracer officers or employees in respect of any losses you suffer in connection with the website.</p>
<p>You agree that the limitations of warranties and liability set out in this website disclaimer will protect Tracer’s officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as Tracer.</p>
<p><strong>Unenforceable provisions</strong></p>
<p>If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.</p>
<p><strong>Indemnity</strong></p>
<p>You hereby indemnify Tracer and undertake to keep Tracer indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by Tracer to a third party in settlement of a claim or dispute on the advice of Tracer’s legal advisers) incurred or suffered by Tracer arising out of any breach by you of any provision of these terms and conditions, or arising out of any claim that you have breached any provision of these terms and conditions.</p>
<p><strong>Breaches of these terms and conditions</strong></p>
<p>Without prejudice to Tracer’s other rights under these terms and conditions, if you breach these terms and conditions in any way, Tracer may take such action as Tracer deems appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.</p>
<p><strong>Variation</strong></p>
<p>Tracer may revise these terms and conditions from time-to-time. Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website. Please check this page regularly to ensure you are familiar with the current version.</p>
<p><strong>Assignment</strong></p>
<p>Tracer may transfer, sub-contract or otherwise deal with Tracer’s rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.</p>
<p>You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions.</p>
<p><strong>Severability</strong></p>
<p>If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect. If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.</p>
<p><strong>Entire agreement</strong></p>
<p>These terms and conditions constitute the entire agreement between you and Tracer in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.<br></p>
</div>


{% endblock %}